---
import Layout from "../layouts/Layout.astro";

import {Content as SampleContent} from "@components/markdown/sample-content.md"

import {items} from "../data/items"

import { Image } from "astro:assets";




---

<Layout title="Home">
  <h1>Welcome to my site!</h1>
  <SampleContent/>
  <!-- {JSON.stringify(items)} -->

  {items.map(item=>{
    return <details>
          <summary>{item.title}</summary>
      {item.quote}
      <Image src={item.image} alt=""/>
    </details>
  })}

</Layout>
