---
import Layout from "../layouts/Layout.astro";

import {Content as SampleContent} from "@components/markdown/sample-content.md"

import {items} from "../data/items"

import { Image } from "astro:assets";




---

<Layout title="Home">
  <h1>Welcome to my site!</h1>
  <SampleContent/>
  <!-- {JSON.stringify(items)} -->



<!-- We can use a .map() method on an array to run code on each item from an array  -->

<!-- This function will go through each item (given as _item_), then will return a details/summary element for it -->

  {items.map((item)=>{
    return <details>
          <summary>{item.title}</summary>
      {item.quote}
      <Image src={item.image} alt=""/>
    </details>
  })}

</Layout>
